.input {
  widows: 100%;
  padding: 10px;
  display: block;
  border: 1px solid;
  box-sizing: border-box;
}
.label {
  width: 100%;
  display: block;
  font-weight: bold;
}
.inputElement {
  outline: none;
  background-color: white;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.inputElement:focus {
  outline: none;
  background-color: #cccccc;
}
